$primary-color: #303030;
$light-gray: #999999;
$light-gray2: #F7F7F7;
$light-gray3: #DCDCDC;
$yellow: #EAC875;
$orange: #DE543F;
$white: #FFFFFF;
$black: #000000;
$radio-btn:#dcdcdc;
$short-btn: #00385f;
$green: #12a100;
