html,
body {
  scroll-behavior: smooth !important;
}

body {
  // font-family: $body-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  background-color: $white;
}

input:focus {
  outline: none;
  box-shadow: none;
}
ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

a {
  // color: $theme-color;
  text-decoration: none;
  outline: 0;
  transition: all ease 0.4s;
  &:hover {
    // color: $title-color;
  }
}
button {
  transition: all ease 0.4s;
}

img {
  border: none;
  max-width: 100%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

.container {
  // width: 1850px !important;
  max-width: 1800px !important;
}

section {
  margin: $section-space 0;
}

.section-title {
  h2{
    font-family: $title-font;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: $primary-color;
    padding: 24px 0;
  }
}


.shop-btn{
  border: 2px solid transparent;
  padding: 8px 20px;
  font-weight: 600;
  &:hover{
    background-color: transparent;
  }
}

.feature-material-title {
  font-family: $title-font;
  font-weight: 700;
  font-size: 30px;
  color: $primary-color;
}

.feature-material-link {
  font-family: $title-font3;
  font-weight: 700;
  font-size: 14px;
  color: $primary-color;

  &:hover{
    color: $light-gray;
  }
}

.feature-material-subtitle {
  font-family: $title-font3;
  font-weight: 700;
  font-size: 14px;
  color: $primary-color;
  text-transform: uppercase;
}

.feature-material-text {
  font-family: $body-font;
  font-weight: 400;
  font-size: 13px;
  color: $light-gray;
  line-height: 20px;
}

.feature-material-list {
  ul{
    list-style: disc;
    padding-left: 20px;
    li{
      color: $light-gray;
      font-family: $body-font;
      font-size: 13px;
    }
  }
}
