$title-font: gothamultra;
$title-font2: gothamblack;
$title-font3: gothambold;
$body-font: gothambook;
$light-font1: gothamlight;


$ripple-ani-duration: 5s;
$main-container: 1290px;
$container-gutters: 30px;
$section-space: 120px;
$section-space-mobile: 80px;
$section-title-space: 80px;
$ripple-ani-duration: 5s;

