@import "partials/variables";
@import "partials/mixins";
@import "partials/classes";
@import "partials/color";
@import "partials/common";

@media (max-width: 991px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .pe-lg-5 {
    padding-right: 3rem !important;
  }
}

@media (min-width: 1500px) {
  .gx-60 {
    --bs-gutter-x: 60px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  // banner
  .banner {
    height: 200px !important;

    .banner-text {
      h1 {
        font-size: 40px !important;
      }
    }
  }
  // banner

  // subscription
  .subscription {
    .subscription-title {
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 11px;
      }
    }
  }
  // subscription

  // Footer
  footer {
    .footer-content {
      .find-store-btn {
        // text-align: center;
        a {
          width: 100%;
          height: 40px;
          margin-top: 15px;
        }
      }
    }
  }
  // Footer

  // Product Carousel
  .product-carousel {
    .carousel-indicators {
      button.indicator-btn {
        width: 35px;
        height: 35px;
        margin-bottom: 5px;
      }
    }
  }
  // Product Carousel

  .product-title-text {
    max-width: 250px !important;
    position: absolute;
    top: 8%;
    right: -10%;

    .product-title {
      font-family: $title-font;
      font-size: 20px !important;
      color: $primary-color;
    }

    button {
      position: absolute;
      left: 0%;
      bottom: -20%;
      background-color: transparent;
      border: none;
      font-size: 16px;
      text-decoration: underline;
      z-index: 100;
      i {
        margin-right: 6px;
      }
    }
  }


}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  // -------- Virgo Home ------------
  .top {
    .dropdown {
      button {
        padding: 4px 10px !important;
      }
    }
  }

  .header-banner-wrapper {
    // height: 350px;

    .header {
      .navbar {
        padding: 20px;

        .navbar-toggler {
          border: 2px solid;
          font-size: 16px;
          padding: 3px 9px;
          // .navbar-toggler-icon {
          //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
          // }
        }

        .offcanvas {
          width: 50%;

          .navbar-nav {
            margin: 30px !important;
          }

          ul.navbar-nav {
            li {
              a {
                font-size: 14px;
              }
            }
          }
        }
      }

      .new-search-form {
        width: 30%;

        .form-control {
          font-size: 12px;
          border-color: $white;
        }

        i {
          font-size: 14px;
        }
      }

      &:hover {
        .navbar-toggler {
          border: 1px solid $primary-color;
          font-size: 16px;
          padding: 3px 9px;
          .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
          }
        }
      }
    }

    .banner-video{

    }
  }

  .gift-card{
    padding: 30px 0;

    .gift-text{
      .gift-title{
        font-size: 32px !important;
      }
      .reedem{}
      a{
        margin-top: 15px !important;
        font-size: 16px !important;
      }
    }
  }

  .explore-slider {
    padding: 80px 0;

    .slick-arrow{
      width: 30px !important;
      height: 30px !important;
      top: -40px !important;
    }

    .arrow_Prev{
      right: 42px !important;
    }
  }

.commuinity-main{
  .commuinity-title{
    font-size: 30px !important;
  }
}

.keeptouch{
  h2{
    font-size: 30px;
  }

  .keeptouch-navs{
    ul{
      li{
        a{
          font-size: 14px !important;
          i{
            font-size: 35px !important;
          }
        }
      }
    }
  }
}

    
.support-main{
  .support-box{
    text-align: center;
    margin-bottom: 20px;
  }

  ul{
    display: flex;
    justify-content: center;
  }
}
  // -------- Virgo Home ------------

  .banner {
    height: 250px !important;

    .banner-text {
      h1 {
        font-size: 40px !important;
      }
    }
  }

  // subscription
  .subscription {
    .subscription-title {
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 11px;
      }
    }
  }
  // subscription

  // Footer
  footer {
    .footer-content {
      .find-store-btn {
        // text-align: center;
        a {
          width: 100%;
          height: 40px;
          margin-top: 15px;
        }
      }
    }
  }
  // Footer

  // Product Carousel
  .product-carousel {
    .carousel-indicators {
      button.indicator-btn {
        width: 35px;
        height: 35px;
        margin-bottom: 5px;
      }
    }
  }
  // Product Carousel

  .product-title-text {
    max-width: 350px;
    position: absolute;
    top: 8%;
    right: 5%;

    .product-title {
      font-family: $title-font;
      font-size: 25px !important;
      color: $primary-color;
    }

    button {
      position: absolute;
      left: 0%;
      bottom: -20%;
      background-color: transparent;
      border: none;
      font-size: 16px;
      text-decoration: underline;
      z-index: 100;
      i {
        margin-right: 6px;
      }
    }
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .banner {
    height: 320px !important;
    .banner-text {
      h1 {
        font-size: 60px !important;
      }
    }
  }

  // Product Card
  .all-product-card-wrapper {
    .product-card {
      &:hover {
        .product-info {
          bottom: 20%;
        }
      }
    }
    // Product Card

    // subscription
    .subscription {
      .subscription-title {
        h2 {
          font-size: 25px;
        }
        p {
          font-size: 13px;
        }
      }
    }
    // subscription
  }
  // Product Card

  // Product Carousel
  .product-carousel {
    .carousel-indicators {
      button.indicator-btn {
        width: 45px;
        height: 45px;
        margin-bottom: 5px;
      }
    }
  }
  // Product Carousel

  .product-title-text {
    max-width: 350px;
    top: 5%;
    right: 5%;

    .product-title {
      font-family: $title-font;
      font-size: 30px !important;
    }

    .feature-material-text {
      font-size: 13px;
    }

    button {
      position: absolute;
      left: 0%;
      bottom: -20%;
      background-color: transparent;
      border: none;
      font-size: 14px;
      text-decoration: underline;
      z-index: 100;
      i {
        margin-right: 6px;
      }
    }
  }


    // -------- Virgo Home ------------
    .top {
      .dropdown {
        button {
          padding: 4px 10px !important;
        }
      }
    }
  
    .header-banner-wrapper {
      // height: 86vh;
      .header {
        .navbar {
          padding: 20px;
  
          .navbar-toggler {
            border: 1px solid $white;
            font-size: 16px;
            padding: 3px 9px;
            .navbar-toggler-icon {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            }
          }
  
          .offcanvas {
            width: 50%;
  
            .navbar-nav {
              margin: 30px !important;
            }
  
            ul.navbar-nav {
              li {
                a {
                  font-size: 14px;
                }
              }
            }
          }
        }
  
        .new-search-form {
          width: 30%;
  
          .form-control {
            // font-size: 12px;
            border-color: $white;
          }
  
          i {
            // font-size: 14px;
          }
        }
  
        &:hover {
          .navbar-toggler {
            border: 1px solid $primary-color;
            font-size: 16px;
            padding: 3px 9px;
            .navbar-toggler-icon {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            }
          }
        }
      }
    }


    .explore-slider{
      padding: 80px 0;
    }

    .commuinity-main{
      .commuinity-title{
        font-size: 35px !important;
      }
    }

    .keeptouch {
      .keeptouch-navs{
        padding: 40px 10px;
      }

      form {
        .form-group {
          button{
            font-size: 12px !important;
          }
        }
      }
    }


    // -------- Virgo Home ------------
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .banner {
    height: 400px !important;

    .banner-text {
      h1 {
        font-size: 70px !important;
      }
    }
  }

  // -----subscription-----
  .subscription {
    .subscription-title {
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 13px;
      }
    }
  }
  // -----subscription-----

  // Product Carousel
  .product-carousel {
    .carousel-indicators {
      button.indicator-btn {
        width: 55px;
        height: 55px;
        margin-bottom: 10px;
      }
    }
  }
  // Product Carousel
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .banner {
    height: 450px !important;

    .banner-text {
      h1 {
        font-size: 80px !important;
      }
    }
  }

  // Product Carousel
  .product-carousel {
    .carousel-indicators {
      button.indicator-btn {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
      }
    }
  }
  // Product Carousel
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .product-carousel {
    .carousel-product-info {
      position: absolute;
      right: 10%;
      top: 6%;
      max-width: 350px;
      z-index: 100;

      .product-title {
        font-family: $title-font;
        font-size: 30px;
        font-weight: 700;
        color: $primary-color;
      }

      .price {
        font-family: $title-font3;
        font-size: 13px;
        color: $primary-color;
      }

      .color {
        p {
          font-family: $title-font3;
          font-size: 13px;
          color: $primary-color;
        }
        span {
          font-family: $title-font3;
          font-size: 13px;
          color: $light-gray;

          a {
            color: $primary-color;
            font-weight: 300;
            font-family: $body-font;
            text-decoration: underline;
            margin-left: 10px;
          }
        }
      }

      .color-variation {
        ul {
          li {
            width: 70px;
            height: 70px;
            margin: 0 5px;
            border-radius: 50%;
            border: 2px solid $light-gray;
            position: relative;
            overflow: hidden;

            .check {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background-color: rgba(0, 0, 0, 0.5);
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 0;
              opacity: 0;
              color: $white;
              transition: 0.5s;
              font-size: 20px;
            }

            img {
              border-radius: 50%;
              transition: 0.3s;
            }

            &:hover {
              border: 2px solid $primary-color;
              cursor: pointer;
              .check {
                opacity: 1;
              }
              img {
                transform: scale(1.1);
              }
            }
          }
        }
      }

      .size-guide {
        p {
          font-family: $body-font;
          font-size: 13px;
          color: $primary-color;
          margin-bottom: 0;
        }
        button.see-guide-btn {
          font-family: $title-font3;
          font-size: 13px;
          color: $primary-color;
          background-color: transparent;
          border: none;
          &:hover {
            cursor: pointer;
          }
        }
      }

      .size-list-wrapper {
        p {
          font-family: $title-font3;
          font-size: 13px;
          color: $primary-color;
          margin: 0;
        }

        .size-list {
          ul {
            display: flex;
            li {
              margin: 0 5px;
              button {
                background-color: transparent;
                border: none;
                width: 40px;
                height: 40px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                color: $short-btn;
                font-weight: 600;
                text-align: center;
                border: 2px solid $short-btn;
                transition: 0.5s;
                &:hover {
                  cursor: pointer;
                  background-color: $short-btn;
                  color: $white;
                }

                &:focus {
                  background-color: $short-btn !important;
                  color: $white !important;
                }
              }
            }
          }
        }

        .find-right-size {
          button {
            font-family: $body-font;
            font-size: 13px;
            background-color: transparent;
            border: none;
            color: $primary-color;
            text-decoration: underline;

            i {
            }
          }
        }
      }

      .availability {
        p {
          color: $green;
          font-size: 13px;
          font-family: $title-font3;
          margin: 0;
          i {
            font-size: 11px;
            margin-right: 5px;
          }
        }
      }

      .add-to-bag-wrapper {
        margin-bottom: 30px;
        .add-to-bag {
          background-color: $short-btn;
          width: 70%;
          color: $white;
          padding: 5px 0;
          border: 2px solid $short-btn;
          font-size: 13px;
          font-weight: 700;

          i {
            margin-right: 5px;
          }

          &:hover {
            background-color: transparent;
            color: $short-btn;
            border-color: $short-btn;
          }
        }

        .add-to-wish {
          background-color: transparent;
          border: none;
          font-size: 26px;
          margin-left: 10px;
          color: $primary-color;
        }
      }

      .product-info-footer {
        button.find-local-store {
          background-color: transparent;
          border: none;
          font-size: 13px;
          font-weight: 700;
          color: $short-btn;

          i {
            color: $primary-color;
            margin-right: 5px;
          }
        }

        .usps {
          font-size: 13px;
          font-weight: 700;
          color: $primary-color;

          i {
            color: $primary-color;
            margin-right: 8px;
          }
        }

        .usps-charge {
          font-size: 13px;
          font-weight: 700;
          color: $green;
          text-transform: uppercase;
        }
      }
    }
  }
}
