@media (max-width: 991px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .pe-lg-5 {
    padding-right: 3rem !important;
  }
}

@media (min-width: 1500px) {
  .gx-60 {
    --bs-gutter-x: 60px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  // banner
  .banner {
    height: 200px !important;

    .banner-text {
      h1 {
        font-size: 40px !important;
      }
    }
  }
  // banner

  // subscription
  .subscription {
    .subscription-title {
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 11px;
      }
    }
  }
  // subscription

  // Footer
  footer {
    .footer-content {
      .find-store-btn {
        // text-align: center;
        a {
          width: 100%;
          height: 40px;
          margin-top: 15px;
        }
      }
    }
  }
  // Footer
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .banner {
    height: 250px !important;

    .banner-text {
      h1 {
        font-size: 40px !important;
      }
    }
  }

  // subscription
  .subscription {
    .subscription-title {
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 11px;
      }
    }
  }
  // subscription

  // Footer
  footer {
    .footer-content {
      .find-store-btn {
        // text-align: center;
        a {
          width: 100%;
          height: 40px;
          margin-top: 15px;
        }
      }
    }
  }
  // Footer
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .banner {
    height: 320px !important;
    .banner-text {
      h1 {
        font-size: 60px !important;
      }
    }
  }

  // Product Card
  .all-product-card-wrapper {
    .product-card {
      &:hover {
        .product-info {
          bottom: 20%;
        }
      }
    }
    // Product Card

    // subscription
    .subscription {
      .subscription-title {
        h2 {
          font-size: 25px;
        }
        p {
          font-size: 13px;
        }
      }
    }
    // subscription
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .banner {
    height: 400px !important;

    .banner-text {
      h1 {
        font-size: 70px !important;
      }
    }
  }

  // subscription
  .subscription {
    .subscription-title {
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 13px;
      }
    }
  }
  // subscription
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .banner {
    height: 450px !important;

    .banner-text {
      h1 {
        font-size: 80px !important;
      }
    }
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
