html,
body {
  scroll-behavior: smooth !important;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  background-color: #FFFFFF;
}

input:focus {
  outline: none;
  box-shadow: none;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  outline: 0;
  transition: all ease 0.4s;
}
button {
  transition: all ease 0.4s;
}

img {
  border: none;
  max-width: 100%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

section {
  margin: 120px 0;
}

.section-title {
  padding-left: 40px;
}
.section-title h2 {
  font-family: gothamultra;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: #303030;
  padding: 24px 0;
}

.shop-btn {
  border: 2px solid transparent;
  padding: 8px 20px;
  font-weight: 600;
}
.shop-btn:hover {
  background-color: transparent;
}

.feature-material-title {
  font-family: gothamultra;
  font-weight: 700;
  font-size: 30px;
  color: #303030;
}

.feature-material-link {
  font-family: gothambold;
  font-weight: 700;
  font-size: 14px;
  color: #303030;
}
.feature-material-link:hover {
  color: #999999;
}

.feature-material-subtitle {
  font-family: gothambold;
  font-weight: 700;
  font-size: 14px;
  color: #303030;
  text-transform: uppercase;
}

.feature-material-text {
  font-family: gothambook;
  font-weight: 400;
  font-size: 13px;
  color: #999999;
  line-height: 20px;
}

.feature-material-list ul {
  list-style: disc;
  padding-left: 20px;
}
.feature-material-list ul li {
  color: #999999;
  font-family: gothambook;
  font-size: 13px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .feature-material-title {
    font-size: 22px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .feature-material-title {
    font-size: 25px;
  }
}
.top {
  background-color: #333;
}
.top .nav .nav-item {
  font-size: 14px;
  color: #FFFFFF;
}
.top .nav .nav-item a {
  color: #FFFFFF;
  font-size: 12px;
  text-decoration: underline;
}
.top .nav .nav-item .nav-link {
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
}
.top .nav .nav-item .dropdown button {
  background-color: #FFFFFF;
  border-radius: 0;
  color: #000;
  border: none;
}
.top .nav .nav-item .dropdown button:hover {
  color: #000;
}
.top .nav .nav-item .dropdown .dropdown-menu li a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}
.top .nav .cart i {
  font-size: 18px;
}
.top p {
  font-size: 14px;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}
.top p a {
  color: #FFFFFF;
  font-size: 11px;
  text-decoration: underline;
}

.header-banner-wrapper {
  position: relative;
  height: 100vh;
  top: -4px;
}

.header {
  background-color: transparent;
  transition: 0.5s;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header:hover {
  background-color: #FFFFFF;
}
.header .navbar .offcanvas .navbar-brand {
  max-width: 200px;
}
.header .navbar .navbar-nav .nav-item {
  margin: 0 10px;
}
.header .navbar .navbar-nav .nav-item .nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header .navbar .navbar-nav .megamenu {
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 0px;
  padding: 50px;
}
.header .navbar .new-search-form {
  display: flex;
  align-items: center;
}
.header .navbar .new-search-form .form-control {
  background: 0 0;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  padding-left: 0;
  font-family: "Poppins", sans-serif;
  padding-left: 0;
}
.header .navbar .new-search-form .form-control:focus {
  box-shadow: none;
}
.header .navbar .new-search-form i {
  color: rgb(2, 2, 2);
  right: 22px;
  position: relative;
}

.color-black {
  color: #000 !important;
}

.navbar .megamenu {
  padding: 1rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */
/* ============ mobile view ============ */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
.navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}
/* ============ mobile view .end// ============ */
.banner-video {
  width: 100%;
  position: absolute;
  top: 0;
}
.banner-video video {
  width: 100% !important;
  height: 100% !important;
}

.category .category-card {
  position: relative;
}
.category .category-card h4 {
  text-transform: uppercase;
  position: absolute;
  margin: 0;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #FFFFFF;
}

.gift-card {
  padding: 50px 0;
}
.gift-card .gift-text h2.gift-title {
  font-size: 50px;
}
.gift-card .gift-text a.btn-heritage {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
}

.imagin .imagin-banner {
  background: url("../images/KBl16GjH38adyQ0s9m7TtW7BcIyYSZ9RaXSWmC8h.jpg");
  min-height: 58.0344vw;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  position: relative;
  padding: 5% 10%;
}
.imagin .imagin-banner .imagin-text {
  color: #FFFFFF;
  width: 62%;
  height: auto;
  margin-top: 50px;
}
.imagin .imagin-banner .imagin-text .imagin-title {
  margin-bottom: 30px;
}
.imagin .imagin-banner .imagin-text .imaging-text {
  font-weight: 600;
  letter-spacing: 2px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 20px;
}

.explore-slider {
  background: url("../images/XL.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center center;
  padding: 150px 0;
}
.explore-slider .explore-slider-title {
  margin-bottom: 50px;
  color: #FFFFFF;
}
.explore-slider .explorer-slider-wrapper .slick-prev {
  left: 97%;
  top: -5%;
  z-index: 1;
}
.explore-slider .explorer-slider-wrapper .slick-next {
  right: 0;
  top: -5%;
  z-index: 1;
}
.explore-slider .explorer-slider-wrapper .card {
  margin: 0 10px !important;
  background-color: transparent;
  border: none;
}
.explore-slider .explorer-slider-wrapper .card img {
  width: 100%;
}
.explore-slider .explorer-slider-wrapper .card .card-body {
  text-align: center;
  color: #FFFFFF;
}
.explore-slider .explorer-slider-wrapper .card .card-body h5.card-title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.fall-saving {
  margin: 0;
  padding: 10px 0;
  font-family: gothambook;
}
.fall-saving ul.nav li {
  margin: 0 10px;
}
.fall-saving ul.nav li:nth-child(1) a {
  color: #DE543F;
}
.fall-saving ul.nav li a {
  color: #303030;
  font-size: 13px;
}
.fall-saving ul.nav li a span {
  font-weight: 600;
  font-family: gothamblack;
}

.banner {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 0;
}
.banner .banner-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .banner-text h1 {
  font-family: gothamblack;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 80px;
}
.banner .button-wrapper {
  position: absolute;
  bottom: 10%;
}
.banner .button-wrapper a {
  background-color: #EAC875;
  color: #303030;
  text-transform: uppercase;
  font-size: 16px;
}
.banner .button-wrapper a:hover {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.new-arrivals .new-arrivals-card {
  width: 100%;
  height: 100%;
  position: relative;
}
.new-arrivals .new-arrivals-card .new-arrivals-btn-wrapper {
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 10%;
}
.new-arrivals .new-arrivals-card .new-arrivals-btn-wrapper a {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #303030;
  font-size: 14px;
  font-weight: 700;
}
.new-arrivals .new-arrivals-card .new-arrivals-btn-wrapper a:hover {
  background-color: transparent;
  color: #FFFFFF;
}

.discount-banner .discount-banner-content-wrapper {
  background: url("../images/22Q4_FS_02_HOMEPAGE_DESKTOP_UNI_M.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.discount-banner .discount-banner-content-wrapper .discount-banner-text {
  color: #FFFFFF;
}
.discount-banner .discount-banner-content-wrapper .discount-banner-text h4.fall-savings {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
}
.discount-banner .discount-banner-content-wrapper .discount-banner-text h4.fall-savings::after {
  content: "";
  height: 2px;
  width: 42%;
  background-color: #ffffff;
  position: absolute;
  bottom: 18%;
  right: 0%;
}
.discount-banner .discount-banner-content-wrapper .discount-banner-text h2.discount {
  font-size: 216px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: -30px;
}
.discount-banner .discount-banner-content-wrapper .discount-banner-text h4.off {
  font-size: 75px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  text-align: right;
  margin-top: -44px;
}
.discount-banner .discount-banner-content-wrapper .discount-banner-text h4.off::before {
  content: "";
  height: 2px;
  width: 68%;
  background-color: #ffffff;
  position: absolute;
  bottom: 15%;
  left: 0;
}
.discount-banner .discount-banner-content-wrapper .discount-banner-text h4.selected-styles {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: -12px;
}
.discount-banner .discount-banner-content-wrapper .discount-banner-btn-wrapper {
  margin-top: 25px;
}
.discount-banner .discount-banner-content-wrapper .discount-banner-btn-wrapper a {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #303030;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 25px;
}
.discount-banner .discount-banner-content-wrapper .discount-banner-btn-wrapper a:hover {
  background-color: transparent;
  color: #FFFFFF;
}

.location {
  background-color: #000;
  padding: 50px 0;
}
.location .location-text h2 {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.location .location-text .see-location {
  border: 1px solid #FFFFFF;
  border-radius: 0;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0 0;
  z-index: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 150px;
  color: #FFFFFF;
  text-transform: capitalize;
}
.location .location-text .see-location:hover {
  background-color: #FFFFFF;
  color: #000;
}

.exclusive .exclusive-card {
  width: 100%;
  height: 100%;
  position: relative;
}
.exclusive .exclusive-card .exclusive-card-text {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.exclusive .exclusive-card .exclusive-card-text h2 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 600;
}
.exclusive .exclusive-card .exclusive-btn-wrapper {
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: 10%;
}
.exclusive .exclusive-card .exclusive-btn-wrapper a {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #303030;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 25px;
}
.exclusive .exclusive-card .exclusive-btn-wrapper a:hover {
  background-color: transparent;
  color: #FFFFFF;
}

.you-may-like .you-may-like-slider-wrapper {
  overflow: hidden;
}
.you-may-like .you-may-like-slider-wrapper .you-may-like-slider {
  position: relative;
  padding: 0 5px !important;
}
.you-may-like .you-may-like-slider-wrapper .you-may-like-slider a {
  color: #303030;
}
.you-may-like .you-may-like-slider-wrapper .you-may-like-slider a p.card-title {
  background-color: #F7F7F7;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}
.you-may-like .you-may-like-slider-wrapper .you-may-like-slider a .product-info {
  text-align: center;
  font-size: 13px;
  padding: 5px;
}
.you-may-like .you-may-like-slider-wrapper .you-may-like-slider a .product-info .product-name {
  margin-bottom: 5px;
}
.you-may-like .you-may-like-slider-wrapper .you-may-like-slider a .product-info .product-price {
  font-weight: 900;
  margin: 0;
}
.you-may-like .you-may-like-slider-wrapper .you-may-like-slider a .product-info .product-color {
  color: #999999;
  margin: 0;
}
.you-may-like .you-may-like-slider-wrapper .you-may-like-slider a .discount-tag {
  background-color: #DE543F;
  width: 50px;
  height: 25px;
  text-align: center;
  position: absolute;
  bottom: 23%;
}
.you-may-like .you-may-like-slider-wrapper .you-may-like-slider a .discount-tag span {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 900;
}
.you-may-like .you-may-like-slider-wrapper .you-may-like-slider a .add-to-wish-icon {
  position: absolute;
  top: 3%;
  right: 4%;
}
.you-may-like .you-may-like-slider-wrapper .you-may-like-slider a .add-to-wish-icon i {
  font-size: 25px;
}
.you-may-like .slick-next {
  right: 25px;
  z-index: 1;
}
.you-may-like .slick-prev {
  left: 25px;
  z-index: 1;
}

.keeptouch {
  font-family: "Poppins", sans-serif;
  padding: 50px 0;
}
.keeptouch h2 {
  text-transform: uppercase;
  text-align: left;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
}
.keeptouch h2 span {
  text-transform: lowercase;
  font-style: italic;
  margin-right: 5px;
}
.keeptouch form .form-group input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 30px;
  padding-left: 0;
}
.keeptouch form .form-group button {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-transform: uppercase;
  font-size: 14px;
  background: 0 0;
  color: #000;
  border: 2px solid #000;
  letter-spacing: 3px;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.keeptouch p {
  font-size: 13px;
}
.keeptouch .keeptouch-navs {
  padding: 40px;
}
.keeptouch .keeptouch-navs .nav .nav-item {
  margin-bottom: 15px;
}
.keeptouch .keeptouch-navs .nav .nav-item .nav-link {
  font-size: 15px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.keeptouch .keeptouch-navs .nav .nav-item .nav-link i {
  font-size: 35px;
  padding-right: 10px;
}

.latest-news .section-title {
  text-align: center;
}
.latest-news .news-card {
  border: none;
  border-radius: 0;
  overflow: hidden;
  position: relative;
}
.latest-news .news-card .news-card-date {
  position: absolute;
  background-color: #000000;
  padding: 15px 10px;
  left: 4%;
}
.latest-news .news-card .news-card-date p {
  margin: 0;
  color: #FFFFFF;
  font-weight: 600;
  text-align: center;
}
.latest-news .news-card .news-card-date .month {
  font-size: 16px;
}
.latest-news .news-card .news-card-date .year {
  font-size: 20px;
}
.latest-news .news-card:hover img {
  transform: scale(1.02);
}
.latest-news .news-card img {
  border-radius: 0;
  transition: 0.3s;
}
.latest-news .news-card .news-card-body {
  text-align: center;
  background-color: #FFFFFF;
  padding-bottom: 30px;
}
.latest-news .news-card .news-card-body .news-card-title {
  font-size: 20px;
  font-weight: 700;
  color: #303030;
}
.latest-news .news-card .news-card-body .news-card-text {
  font-size: 13px;
  color: #999999;
}
.latest-news .news-card .news-card-body .explore {
  font-size: 16px;
  font-weight: 700;
  color: #303030;
  position: relative;
}
.latest-news .news-card .news-card-body .explore::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #303030;
  position: absolute;
  bottom: -35%;
  left: 0%;
  transition: 0.3s;
}
.latest-news .news-card:hover .explore {
  color: #999999;
}
.latest-news .news-card:hover .explore::after {
  background: #999999;
}
.latest-news .all-news-btn-wrapper {
  text-align: center;
  margin-top: 40px;
}
.latest-news .all-news-btn-wrapper a {
  border: 2px solid #303030;
  color: #303030;
  padding: 8px 30px;
}
.latest-news .all-news-btn-wrapper a:hover {
  background-color: #303030;
  color: #FFFFFF;
}

.latest-social {
  background-color: #FFFFFF;
  padding: 50px 0;
}
.latest-social .section-title {
  padding-left: 40px;
}
.latest-social .view-more-btn-wrapper {
  text-align: center;
  margin-top: 40px;
}
.latest-social .view-more-btn-wrapper a {
  border: 2px solid #303030;
  color: #FFFFFF;
  padding: 8px 30px;
  background-color: #303030;
}
.latest-social .view-more-btn-wrapper a:hover {
  background-color: #FFFFFF;
  color: #303030;
}

.subscription {
  background-color: #F7F7F7;
  padding: 100px 0;
  margin-bottom: 0;
}
.subscription .subscription-title h2 {
  font-size: 30px;
  font-weight: 700;
}
.subscription .subscription-title p {
  font-size: 13px;
}
.subscription .subscription-title p span {
  font-weight: 600;
}
.subscription form .preference {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.subscription form .preference span {
  margin-right: 20px;
  font-size: 13px;
  font-weight: 700;
  color: #303030;
}
.subscription form .preference label {
  font-size: 13px;
  color: #303030;
}
.subscription form .preference .form-check-input {
  width: 1.5em;
  height: 1.5em;
  margin-top: 0;
  margin-right: 10px;
  border: 2px solid #dcdcdc;
}
.subscription form .subscription-input-wrapper {
  display: flex;
  justify-content: center;
}
.subscription form .subscription-input-wrapper .subscription-input {
  position: relative;
}
.subscription form .subscription-input-wrapper .subscription-input label {
  font-size: 13px;
  font-weight: 700;
  color: #303030;
}
.subscription form .subscription-input-wrapper .subscription-input input {
  width: 400px;
  height: 40px;
  border: 2px solid #303030;
  padding-left: 10px;
}
.subscription form .subscription-input-wrapper .subscription-input input::-moz-placeholder {
  font-size: 14px;
  color: #999999;
}
.subscription form .subscription-input-wrapper .subscription-input input:-ms-input-placeholder {
  font-size: 14px;
  color: #999999;
}
.subscription form .subscription-input-wrapper .subscription-input input::placeholder {
  font-size: 14px;
  color: #999999;
}
.subscription form .subscription-input-wrapper .subscription-input button {
  background-color: #303030;
  color: #FFFFFF;
  border: 3px solid #303030;
  height: 40px;
  width: 150px;
}
.subscription form .subscription-input-wrapper .subscription-input button:hover {
  background-color: #FFFFFF;
  color: #303030;
}

.app-download {
  text-align: center;
  background-color: #FFFFFF;
  padding: 50px 0;
  margin-top: 0;
  margin-bottom: 0;
}
.app-download .app-title h5 {
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  color: #303030;
  margin-bottom: 0;
  text-transform: uppercase;
}
.app-download .app-title p {
  font-size: 13px;
  line-height: 24px;
}
.app-download .find-out-btn-wrapper a {
  color: #303030;
  border: 2px solid #303030;
  padding: 10px 20px;
}
.app-download .find-out-btn-wrapper a:hover {
  background-color: #303030;
  color: #FFFFFF;
}
.app-download .app-store-icon-wrapper {
  margin-top: 50px;
}
.app-download .app-store-icon-wrapper .app-store-icon {
  display: inline-block;
  width: 120px;
  margin: 0 5px;
}

footer {
  padding: 50px 0;
  background-color: #F7F7F7;
}
footer .footer-content {
  max-width: 984px;
  margin: 0 auto;
}
footer .footer-content .footer-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
  white-space: normal;
  color: #303030;
}
footer .footer-content ul li a {
  padding: 5px 0;
  color: #999999;
  font-size: 13px;
}
footer .footer-content ul li a:hover {
  color: #303030;
}
footer .footer-content .find-store-btn a {
  border: 2px solid #DCDCDC;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  color: #303030;
  font-weight: 700;
  margin-top: 15px;
}
footer .footer-content .find-store-btn a i {
  margin-right: 5px;
}
footer .footer-content .find-store-btn a:hover {
  border: 2px solid #303030;
}
footer .footer-content .social-icon-wrapper {
  margin-top: 50px;
}
footer .footer-content .social-icon-wrapper ul li {
  margin-left: 6px;
  margin-right: 6px;
}
footer .footer-content .social-icon-wrapper ul li a {
  font-size: 30px;
}
footer .footer-content .payment-icon-wrapper {
  position: relative;
  margin: 50px 0;
  padding: 15px 0;
}
footer .footer-content .payment-icon-wrapper::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #DCDCDC;
  position: absolute;
  top: 0;
}
footer .footer-content .payment-icon-wrapper::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #DCDCDC;
  position: absolute;
  bottom: 0;
}
footer .footer-content .payment-icon-wrapper ul li {
  margin: 0 20px;
}
footer .footer-content .payment-icon-wrapper ul li a {
  font-size: 25px;
}
footer .footer-content .copyright {
  font-size: 11px;
  color: #999999;
}

.virgo-footer {
  background-color: #F7F7F7;
}
.virgo-footer .footer-widgets .logo {
  width: 100px;
}
.virgo-footer .footer-widgets .footer-widgets-title {
  letter-spacing: 2px;
  font-size: 12px;
  padding: 12px 0 1rem;
  margin-bottom: 0;
  color: #000000;
}
.virgo-footer .footer-widgets p {
  font-size: 12px;
  line-height: normal;
  color: #666;
  text-align: justify;
}
.virgo-footer .footer-widgets ul.nav li.nav-item {
  font-size: 12px;
  line-height: 12px;
  padding: 4px;
}
.virgo-footer .footer-widgets ul.nav li.nav-item a.nav-link {
  padding: 0;
  color: #666;
}
.virgo-footer .ssl {
  margin-top: 50px;
}
.all-products {
  margin-top: 0;
  background-color: #FFFFFF;
}
.all-products nav {
  background-color: #F7F7F7;
  border-bottom: 2px solid #dcdcdc;
  padding: 0 20px;
}
.all-products nav .nav-left .nav-item .dropdown button {
  background-color: transparent;
  border: none;
  color: #303030;
  font-size: 13px;
  font-weight: 700;
  padding: 15px 15px;
}
.all-products nav .nav-left .nav-item .dropdown .dropdown-toggle {
  border-radius: 0;
}
.all-products nav .nav-left .nav-item .dropdown .dropdown-toggle.show {
  background-color: #FFFFFF;
  border-radius: 0;
}
.all-products nav .nav-left .nav-item .dropdown .dropdown-menu {
  border-radius: 0px;
  border: none;
  transform: translate(0px, 42px) !important;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.all-products nav .nav-left .nav-item .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}
.all-products nav .nav-left .nav-item .dropdown .dropdown-menu .dropdown-item .form-check .form-check-input {
  border-radius: 0;
  width: 20px;
  height: 20px;
  border-color: #000000;
}
.all-products nav .nav-left .nav-item .dropdown .dropdown-menu .dropdown-item .form-check .form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}
.all-products nav .nav-left .nav-item .dropdown .dropdown-menu .dropdown-item .form-check .form-check-input:checked[type=checkbox] {
  background-image: none;
}
.all-products nav .nav-left .nav-item .dropdown .dropdown-menu .dropdown-item .form-check .form-check-input:focus {
  box-shadow: none;
}
.all-products nav .nav-right {
  font-size: 13px;
}
.all-products nav .nav-right .menu-title {
  font-size: 13px;
  color: #999999;
}
.all-products nav .nav-right li.nav-item a.nav-link {
  font-weight: 700;
  color: #303030;
}
.all-products nav .nav-right li.nav-item .form-select {
  background-color: transparent;
  border-radius: 0;
  border: none;
  font-size: 13px;
}
.all-products nav .nav-right li.nav-item .form-select:focus {
  box-shadow: none;
}
.all-products nav .nav-right li.view-as {
  border-bottom: 2px solid transparent;
}
.all-products nav .nav-right li.view-as:hover {
  border-bottom: 2px solid #303030;
}
.all-products nav .nav-right li.view-as:active {
  border-bottom: 2px solid #303030;
}
.all-products .short-filter-modal-wrapper .short-filter-btn {
  width: 100%;
  background-color: #00385f;
  border-color: #00385f;
  color: #FFFFFF;
  font-weight: 700;
  padding: 5px 0;
}
.all-products .short-filter-modal-wrapper .short-filter-btn:hover {
  background-color: #FFFFFF;
  color: #00385f;
}
.all-products .short-filter-modal-wrapper .modal-dialog .modal-content {
  border-radius: 0;
}
.all-products .short-filter-modal-wrapper .modal-dialog .modal-content .modal-header .modal-title {
  font-weight: 700;
  color: #00385f;
}
.all-products .short-filter-modal-wrapper .modal-dialog .modal-content .modal-body {
  height: 50vh;
}
.all-products .short-filter-modal-wrapper .modal-dialog .modal-content .modal-body .dropdown button {
  border: 1px solid #303030;
  border-radius: 0;
  background-color: #00385f;
  color: #FFFFFF;
  width: 100%;
}
.all-products .short-filter-modal-wrapper .modal-dialog .modal-content .modal-body .dropdown .dropdown-menu {
  border-radius: 0px;
  border: none;
  transform: translate(0px, 42px) !important;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #00385f;
}
.all-products .short-filter-modal-wrapper .modal-dialog .modal-content .modal-footer .close,
.all-products .short-filter-modal-wrapper .modal-dialog .modal-content .modal-footer .apply {
  background-color: #00385f;
  color: #FFFFFF;
  border-radius: 0;
  border: 1px solid #00385f;
  font-weight: 600;
}
.all-products .short-filter-modal-wrapper .modal-dialog .modal-content .modal-footer .close:hover,
.all-products .short-filter-modal-wrapper .modal-dialog .modal-content .modal-footer .apply:hover {
  background-color: #FFFFFF;
  color: #00385f;
}
.all-products .view-as-wrapper {
  background-color: #FFFFFF;
  box-shadow: 0px 6px 8px -10px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 0px 6px 8px -10px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0px 6px 8px -10px rgba(0, 0, 0, 0.62);
  padding: 0 20px;
}
.all-products .view-as-wrapper ul.view-as li {
  font-size: 14px;
  color: #999999;
}
.all-products .view-as-wrapper ul.view-as li a {
  color: #303030;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 2px solid transparent;
}
.all-products .view-as-wrapper ul.view-as li a:hover {
  border-bottom: 2px solid #303030;
}
.all-products .view-as-wrapper ul.view-as li a:focus {
  border-bottom: 2px solid #303030;
}
.all-products .view-as-wrapper ul.short-by li {
  font-size: 14px;
  color: #999999;
}
.all-products .view-as-wrapper ul.short-by li select {
  margin-left: 10px;
  border-radius: 0;
}
.all-products .view-as-wrapper ul.short-by li select:focus {
  box-shadow: none;
  border: 1px solid #303030;
}
.all-products .total-item {
  padding: 40px 20px;
}
.all-products .total-item h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}
.all-products .all-product-card-wrapper {
  padding: 0px 20px;
}
.all-products .all-product-card-wrapper .product-card {
  border: none !important;
  position: relative;
}
.all-products .all-product-card-wrapper .product-card .add-to-wish-icon {
  position: absolute;
  top: 3%;
  right: 4%;
}
.all-products .all-product-card-wrapper .product-card .add-to-wish-icon:hover {
  cursor: pointer;
}
.all-products .all-product-card-wrapper .product-card .add-to-wish-icon i {
  font-size: 25px;
}
.all-products .all-product-card-wrapper .product-card .card-body {
  padding: 0px;
  background-color: #FFFFFF;
}
.all-products .all-product-card-wrapper .product-card .card-body .product-info {
  padding-top: 10px;
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  bottom: 0%;
  transition: 0.5s;
}
.all-products .all-product-card-wrapper .product-card .card-body .product-info .new {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: -25%;
  width: 100%;
}
.all-products .all-product-card-wrapper .product-card .card-body .product-info button.quick-view-btn {
  font-size: 20px;
  position: absolute;
  right: 3%;
  top: -50%;
  transition: 0.5s;
  color: #303030;
  opacity: 0;
  border: none;
  background-color: transparent;
}
.all-products .all-product-card-wrapper .product-card .card-body .product-info .product-title {
  font-size: 13px;
  color: #303030;
}
.all-products .all-product-card-wrapper .product-card .card-body .product-info .product-price {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 0;
}
.all-products .all-product-card-wrapper .product-card .card-body .product-info .seleted-color-name {
  font-size: 13px;
  color: #999999;
}
.all-products .all-product-card-wrapper .product-card .card-body .color-variations {
  padding: 10px 0;
}
.all-products .all-product-card-wrapper .product-card .card-body .color-variations ul li {
  margin: 0 5px;
  padding-bottom: 0px;
}
.all-products .all-product-card-wrapper .product-card .card-body .color-variations ul li button {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  margin: 0;
}
.all-products .all-product-card-wrapper .product-card .card-body .color-variations ul li button:focus {
  border-bottom: 2px solid #303030;
}
.all-products .all-product-card-wrapper .product-card:hover .product-info {
  bottom: 8%;
}
.all-products .all-product-card-wrapper .product-card:hover .product-info button.quick-view-btn {
  opacity: 1;
}
.all-products .product-seen-number {
  padding: 50px 0;
}
.all-products .product-seen-number p {
  font-size: 13px;
  color: #999999;
}
.all-products .product-seen-number button {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  padding: 10px 80px;
  font-size: 13px;
  font-weight: 700;
  color: #999999;
}
.all-products .product-seen-number button:hover {
  color: #303030;
}

.quick-view-modal .modal-content {
  border-radius: 0;
}
.quick-view-modal .modal-content .modal-body {
  position: relative;
}
.quick-view-modal .modal-content .modal-body .quick-view-details {
  padding: 60px 30px 20px 0px;
}
.quick-view-modal .modal-content .modal-body .quick-view-details .quick-view-title {
  font-size: 24px;
  font-family: gothambold;
}
.quick-view-modal .modal-content .modal-body .quick-view-details button.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #00385f !important;
  border-radius: 0;
  opacity: 1;
  color: #FFFFFF;
  background: none;
  font-size: 24px;
}
.quick-view-modal .modal-content .modal-body .quick-view-details .price {
  font-family: gothambold;
  font-size: 13px;
  font-weight: 700;
}
.quick-view-modal .modal-content .modal-body .quick-view-details .color {
  font-family: gothambook;
  font-size: 13px;
  font-weight: 700;
}
.quick-view-modal .modal-content .modal-body .quick-view-details .color span {
  color: #999999;
}
.quick-view-modal .modal-content .modal-body .quick-view-details select.form-select {
  border-radius: 0;
  border: 2px solid #303030;
  font-family: gothambold !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  padding: 11px 40px 11px 10px;
}
.quick-view-modal .modal-content .modal-body .quick-view-details select.form-select:focus {
  box-shadow: none;
}
.quick-view-modal .modal-content .modal-body .quick-view-details .add-to-bag-wrapper {
  margin-top: 20px;
  margin-bottom: 60px;
}
.quick-view-modal .modal-content .modal-body .quick-view-details .add-to-bag-wrapper button.add-to-bag {
  background-color: #00385f;
  width: 80%;
  border-color: #00385f;
  color: #FFFFFF;
  padding: 10px 0;
  font-family: gothambold;
  font-size: 13px;
  font-weight: 700;
}
.quick-view-modal .modal-content .modal-body .quick-view-details .add-to-bag-wrapper button.add-to-bag:hover {
  background-color: #FFFFFF;
  color: #00385f;
}
.quick-view-modal .modal-content .modal-body .quick-view-details .add-to-bag-wrapper button.add-to-wish {
  background-color: transparent;
  border: none;
}
.quick-view-modal .modal-content .modal-body .quick-view-details .add-to-bag-wrapper button.add-to-wish i {
  font-size: 24px;
  text-align: center;
}
.quick-view-modal .modal-content .modal-body .quick-view-details .product-details-text {
  color: #999999;
  font-family: gothambook;
  font-size: 13px;
  line-height: normal;
  overflow: hidden;
}
.quick-view-modal .modal-content .modal-body .quick-view-details a.view-full-details-link {
  color: #303030;
  font-size: 13px;
  font-weight: 700;
}
.quick-view-modal .modal-content .modal-body .quick-view-details a.view-full-details-link:hover {
  color: #999999;
}

.product-carousel {
  margin: 0;
  position: relative;
}
.product-carousel .carousel-indicators {
  left: 0 !important;
  bottom: 0 !important;
  margin-left: 2%;
  display: inherit;
}
.product-carousel .carousel-indicators button.indicator-btn {
  width: 80px;
  height: 80px;
  border: none;
  opacity: 1;
  display: block;
  margin-bottom: 20px;
}
.product-carousel .carousel-product-info {
  position: absolute;
  right: 10%;
  top: 6%;
  max-width: 350px;
  z-index: 100;
}
.product-carousel .carousel-product-info .product-title {
  font-family: gothamultra;
  font-size: 30px;
  font-weight: 700;
  color: #303030;
}
.product-carousel .carousel-product-info .price {
  font-family: gothambold;
  font-size: 13px;
  color: #303030;
}
.product-carousel .carousel-product-info .color p {
  font-family: gothambold;
  font-size: 13px;
  color: #303030;
}
.product-carousel .carousel-product-info .color span {
  font-family: gothambold;
  font-size: 13px;
  color: #999999;
}
.product-carousel .carousel-product-info .color span a {
  color: #303030;
  font-weight: 300;
  font-family: gothambook;
  text-decoration: underline;
  margin-left: 10px;
}
.product-carousel .carousel-product-info .color-variation ul li {
  width: 70px;
  height: 70px;
  margin: 0 5px;
  border-radius: 50%;
  border: 2px solid #999999;
  position: relative;
  overflow: hidden;
}
.product-carousel .carousel-product-info .color-variation ul li .check {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  opacity: 0;
  color: #FFFFFF;
  transition: 0.5s;
  font-size: 20px;
}
.product-carousel .carousel-product-info .color-variation ul li img {
  border-radius: 50%;
  transition: 0.3s;
}
.product-carousel .carousel-product-info .color-variation ul li:hover {
  border: 2px solid #303030;
  cursor: pointer;
}
.product-carousel .carousel-product-info .color-variation ul li:hover .check {
  opacity: 1;
}
.product-carousel .carousel-product-info .color-variation ul li:hover img {
  transform: scale(1.1);
}
.product-carousel .carousel-product-info .size-guide p {
  font-family: gothambook;
  font-size: 13px;
  color: #303030;
  margin-bottom: 0;
}
.product-carousel .carousel-product-info .size-guide button.see-guide-btn {
  font-family: gothambold;
  font-size: 13px;
  color: #303030;
  background-color: transparent;
  border: none;
}
.product-carousel .carousel-product-info .size-guide button.see-guide-btn:hover {
  cursor: pointer;
}
.product-carousel .carousel-product-info .size-list-wrapper p {
  font-family: gothambold;
  font-size: 13px;
  color: #303030;
  margin: 0;
}
.product-carousel .carousel-product-info .size-list-wrapper .size-list ul {
  display: flex;
}
.product-carousel .carousel-product-info .size-list-wrapper .size-list ul li {
  margin: 0 5px;
}
.product-carousel .carousel-product-info .size-list-wrapper .size-list ul li button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00385f;
  font-weight: 600;
  text-align: center;
  border: 2px solid #00385f;
  transition: 0.5s;
}
.product-carousel .carousel-product-info .size-list-wrapper .size-list ul li button:hover {
  cursor: pointer;
  background-color: #00385f;
  color: #FFFFFF;
}
.product-carousel .carousel-product-info .size-list-wrapper .size-list ul li button:focus {
  background-color: #00385f !important;
  color: #FFFFFF !important;
}
.product-carousel .carousel-product-info .size-list-wrapper .find-right-size button {
  font-family: gothambook;
  font-size: 13px;
  background-color: transparent;
  border: none;
  color: #303030;
  text-decoration: underline;
}
.product-carousel .carousel-product-info .availability p {
  color: #12a100;
  font-size: 13px;
  font-family: gothambold;
  margin: 0;
}
.product-carousel .carousel-product-info .availability p i {
  font-size: 11px;
  margin-right: 5px;
}
.product-carousel .carousel-product-info .add-to-bag-wrapper {
  margin-bottom: 30px;
}
.product-carousel .carousel-product-info .add-to-bag-wrapper .add-to-bag {
  background-color: #00385f;
  width: 70%;
  color: #FFFFFF;
  padding: 5px 0;
  border: 2px solid #00385f;
  font-size: 13px;
  font-weight: 700;
}
.product-carousel .carousel-product-info .add-to-bag-wrapper .add-to-bag i {
  margin-right: 5px;
}
.product-carousel .carousel-product-info .add-to-bag-wrapper .add-to-bag:hover {
  background-color: transparent;
  color: #00385f;
  border-color: #00385f;
}
.product-carousel .carousel-product-info .add-to-bag-wrapper .add-to-wish {
  background-color: transparent;
  border: none;
  font-size: 26px;
  margin-left: 10px;
  color: #303030;
}
.product-carousel .carousel-product-info .product-info-footer button.find-local-store {
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: 700;
  color: #00385f;
}
.product-carousel .carousel-product-info .product-info-footer button.find-local-store i {
  color: #303030;
  margin-right: 5px;
}
.product-carousel .carousel-product-info .product-info-footer .usps {
  font-size: 13px;
  font-weight: 700;
  color: #303030;
}
.product-carousel .carousel-product-info .product-info-footer .usps i {
  color: #303030;
  margin-right: 8px;
}
.product-carousel .carousel-product-info .product-info-footer .usps-charge {
  font-size: 13px;
  font-weight: 700;
  color: #12a100;
  text-transform: uppercase;
}
.product-carousel .product-title-text {
  max-width: 300px;
  position: absolute;
  top: 8%;
  right: 0%;
}
.product-carousel .product-title-text .product-title {
  font-family: gothamultra;
  font-size: 40px;
  color: #303030;
}
.product-carousel .product-title-text button {
  position: absolute;
  left: 0%;
  bottom: -30%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  text-decoration: underline;
  z-index: 100;
  color: #303030;
}
.product-carousel .product-title-text button i {
  margin-right: 6px;
}
.product-carousel .select-size-offcanvas {
  background-color: #DCDCDC;
}
.product-carousel .select-size-offcanvas .carousel-product-info {
  right: 2%;
}
.product-carousel .select-size-offcanvas .carousel-product-info .close-btn {
  position: absolute;
  right: 3%;
}

.feature-material {
  margin: 0;
}
.feature-material .feature-material-text-wrapper {
  width: 50%;
  margin: auto;
}
.feature-material .feature-material-image img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */