@import "partials/variables";
@import "partials/mixins";
@import "partials/classes";
@import "partials/color";
@import "partials/common";

.top {
  background-color: #333;
  .nav {
    .nav-item {
      font-size: 14px;
      color: $white;
      a {
        color: $white;
        font-size: 12px;
        text-decoration: underline;
      }
      .nav-link {
        color: $white;
        font-size: 14px;
        text-decoration: none;
        padding-top: 0;
        padding-bottom: 0;
      }

      .dropdown {
        button {
          background-color: $white;
          border-radius: 0;
          color: #000;
          border: none;

          &:hover {
            color: #000;
          }
        }

        .dropdown-menu {
          li {
            a {
              color: $black;
              text-decoration: none;
              font-size: 16px;
            }
          }
        }
      }
    }

    .cart {
      i {
        font-size: 18px;
      }
    }
  }

  p {
    font-size: 14px;
    color: $white;
    padding: 0;
    margin: 0;
    a {
      color: $white;
      font-size: 11px;
      text-decoration: underline;
    }
  }
}

.header {
  background-color: transparent;
  transition: 0.5s;

  &:hover {
    background-color: $white;
  }
  .navbar {
    .offcanvas {
      .navbar-brand {
        max-width: 200px;
      }
    }

    .navbar-nav {
      .nav-item {
        margin: 0 10px;
        .nav-link {
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          font-weight: normal;
          text-transform: uppercase;
          color: $primary-color;
        }
      }

      // .has-megamenu {
      //   position: static !important;
      // }
      .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0px;
        padding: 50px;
      }

      // .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
      // 	overflow-y: auto;
      //     max-height: 90vh;
      //     margin-top:10px;
      // }
    }

    .new-search-form {
      display: flex;
      align-items: center;
      .form-control {
        background: 0 0;
        border-radius: 0;
        border-top: none;
        border-right: none;
        border-left: none;
        color: #fff;
        padding-left: 0;
        font-family: "Poppins", sans-serif;
        padding-left: 0;

        &:focus {
          box-shadow: none;
        }
      }
      i {
        // transform: rotate(273deg);
        color: rgb(2, 2, 2);
        right: 22px;
        position: relative;
      }
    }
  }
}

.navbar .megamenu {
  padding: 1rem;
}
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}
/* ============ mobile view .end// ============ */

.banner-video {
  // position: absolute;
  // z-index: -1;
  // top: 0;
  video {
    width: 100% !important;
    height: 100% !important;
  }
}

.category {
  .category-card {
    position: relative;
    img {
    }
    h4 {
      text-transform: uppercase;
      position: absolute;
      margin: 0;
      bottom: 8%;
      @include transX-center;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 40px;
      color: $white;
    }
  }
}

.single-banner {
}

.gift-card {
  padding: 50px 0;
  .gift-text {
    h2.gift-title {
      font-size: 50px;
    }
    h5.reedem {
    }
    a.btn-heritage {
      font-size: 20px;
      font-weight: 600;
      margin-top: 30px;
    }
  }
}

.imagin {
  .imagin-banner {
    background: url("../images/KBl16GjH38adyQ0s9m7TtW7BcIyYSZ9RaXSWmC8h.jpg");
    min-height: calc(58.0344vw);
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    position: relative;
    padding: 5% 10%;

    .imagin-text {
      color: $white;
      width: 62%;
      height: auto;
      margin-top: 50px;

      .imagin-title {
        margin-bottom: 30px;
      }
      .imaging-text {
        font-weight: 600;
        letter-spacing: 2px;
        color: $white;
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 20px;
      }
    }
  }
}

.explore-slider {
  background: url("../images/XL.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center center;
  padding: 150px 0;

  .explore-slider-title {
    margin-bottom: 50px;
    color: $white;
  }

  .explorer-slider-wrapper {
    .slick-prev {
      left: 97%;
      top: -5%;
      z-index: 1;
    }
    .slick-next {
      right: 0;
      top: -5%;
      z-index: 1;
    }
    .card {
      margin: 0 10px !important;
      background-color: transparent;
      border: none;
      img {
        width: 100%;
      }
      .card-body {
        text-align: center;
        color: $white;
        h5.card-title {
          text-transform: capitalize;
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }
    }
  }
}

.fall-saving {
  margin: 0;
  padding: 10px 0;
  font-family: $body-font;

  ul.nav {
    li {
      margin: 0 10px;

      &:nth-child(1) {
        a {
          color: $orange;
        }
      }
      a {
        color: $primary-color;
        font-size: 13px;

        span {
          font-weight: 600;
          font-family: $title-font2;
        }
      }
    }
  }
}

.banner {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 0;
  .banner-text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-family: $title-font2;
      text-transform: uppercase;
      color: $white;
      font-size: 80px;
    }
  }

  .button-wrapper {
    position: absolute;
    bottom: 10%;
    a {
      background-color: $yellow;
      color: $primary-color;
      text-transform: uppercase;
      font-size: 16px;
      &:hover {
        background-color: transparent;
        border: 2px solid $white;
        color: $white;
      }
    }
  }
}

.new-arrivals {
  .new-arrivals-card {
    width: 100%;
    height: 100%;
    position: relative;

    .new-arrivals-card-img {
      img {
      }
    }

    .new-arrivals-btn-wrapper {
      position: absolute;
      transform: translate(-50%, 50%);
      left: 50%;
      bottom: 10%;

      a {
        background-color: $white;
        border: 2px solid $white;
        color: $primary-color;
        font-size: 14px;
        font-weight: 700;

        &:hover {
          background-color: transparent;
          color: $white;
        }
      }
    }
  }
}

.discount-banner {
  .discount-banner-content-wrapper {
    background: url("../images/22Q4_FS_02_HOMEPAGE_DESKTOP_UNI_M.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .discount-banner-text {
      color: $white;
      h4.fall-savings {
        font-size: 36px;
        font-weight: 900;
        text-transform: uppercase;
        position: relative;
        &::after {
          content: "";
          height: 2px;
          width: 42%;
          background-color: #ffffff;
          position: absolute;
          bottom: 18%;
          right: 0%;
        }
      }

      h2.discount {
        font-size: 216px;
        font-weight: 900;
        text-transform: uppercase;
        margin-top: -30px;
      }

      h4.off {
        font-size: 75px;
        font-weight: 900;
        text-transform: uppercase;
        position: relative;
        text-align: right;
        margin-top: -44px;
        &::before {
          content: "";
          height: 2px;
          width: 68%;
          background-color: #ffffff;
          position: absolute;
          bottom: 15%;
          left: 0;
        }
      }

      h4.selected-styles {
        font-size: 48px;
        font-weight: 900;
        text-transform: uppercase;
        margin-top: -12px;
      }
    }

    .discount-banner-btn-wrapper {
      margin-top: 25px;
      a {
        background-color: $white;
        border: 2px solid $white;
        color: $primary-color;
        font-size: 14px;
        font-weight: 700;
        padding: 8px 25px;

        &:hover {
          background-color: transparent;
          color: $white;
        }
      }
    }
  }
}

.explore-new {
  .explore-new-content {
  }
}

.location {
  background-color: #000;
  padding: 50px 0;
  .location-text {
    h2 {
      color: $white;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .see-location {
      border: 1px solid $white;
      border-radius: 0;
      font-size: 16px;
      cursor: pointer;
      position: relative;
      display: inline-block;
      background: 0 0;
      z-index: 0;
      padding-top: 7px;
      padding-bottom: 7px;
      width: 150px;
      color: $white;
      text-transform: capitalize;

      &:hover {
        background-color: $white;
        color: #000;
      }
    }
  }
}

.exclusive {
  .exclusive-card {
    width: 100%;
    height: 100%;
    position: relative;

    .exclusive-card-img {
      img {
      }
    }

    .exclusive-card-text {
      position: absolute;
      // transform: translate(-50%, 50%);
      left: 5%;
      @include transY-center;
      h2 {
        color: $white;
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 600;
      }
    }

    .exclusive-btn-wrapper {
      position: absolute;
      transform: translate(-50%, 50%);
      @include transX-center;
      bottom: 10%;

      a {
        background-color: $white;
        border: 2px solid $white;
        color: $primary-color;
        font-size: 14px;
        font-weight: 700;
        padding: 8px 25px;

        &:hover {
          background-color: transparent;
          color: $white;
        }
      }
    }
  }
}

.you-may-like {
  .you-may-like-slider-wrapper {
    overflow: hidden;

    .you-may-like-slider {
      position: relative;
      padding: 0 5px !important;

      a {
        color: $primary-color;

        img {
        }

        p.card-title {
          background-color: $light-gray2;
          text-align: center;
          text-transform: uppercase;
          font-size: 12px;
        }
        .product-info {
          text-align: center;
          font-size: 13px;
          padding: 5px;

          .product-name {
            margin-bottom: 5px;
          }
          .product-price {
            font-weight: 900;
            margin: 0;
          }
          .product-color {
            color: $light-gray;
            margin: 0;
          }
        }

        .discount-tag {
          background-color: $orange;
          width: 50px;
          height: 25px;
          text-align: center;
          position: absolute;
          bottom: 23%;
          span {
            color: $white;
            font-size: 13px;
            font-weight: 900;
          }
        }

        .add-to-wish-icon {
          position: absolute;
          top: 3%;
          right: 4%;

          i {
            font-size: 25px;
          }
        }
      }
    }
  }
  .slick-next {
    right: 25px;
    z-index: 1;
  }
  .slick-prev {
    left: 25px;
    z-index: 1;
  }
}

.keeptouch {
  font-family: "Poppins", sans-serif;
  padding: 50px 0;
  h2 {
    text-transform: uppercase;
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;

    span {
      text-transform: lowercase;
      font-style: italic;
      margin-right: 5px;
    }
  }

  form {
    .form-group {
      input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        margin-bottom: 30px;
        padding-left: 0;
      }

      button {
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        text-transform: uppercase;
        font-size: 14px;
        background: 0 0;
        color: #000;
        border: 2px solid #000;
        letter-spacing: 3px;
        padding: 10px 20px;
        margin-bottom: 20px;
      }
    }
  }

  p {
    font-size: 13px;
  }

  .keeptouch-navs {
    padding: 40px;

    .nav {
      .nav-item {
        margin-bottom: 15px;

        .nav-link {
          font-size: 15px;
          color: #000;
          font-weight: 400;
          text-transform: uppercase;
          display: flex;
          align-items: center;

          i {
            font-size: 35px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}

.latest-news {
  .section-title {
    text-align: center;
  }

  .news-card {
    border: none;
    border-radius: 0;
    overflow: hidden;
    position: relative;

    .news-card-date {
      position: absolute;
      background-color: $black;
      padding: 15px 10px;
      left: 4%;
      p {
        margin: 0;
        color: $white;
        font-weight: 600;
        text-align: center;
      }

      .month {
        font-size: 16px;
      }

      .year {
        font-size: 20px;
      }
    }

    &:hover {
      img {
        transform: scale(1.02);
      }
    }

    img {
      border-radius: 0;
      transition: 0.3s;
    }

    .news-card-body {
      text-align: center;
      background-color: $white;
      padding-bottom: 30px;

      .news-card-title {
        font-size: 20px;
        font-weight: 700;
        color: $primary-color;
      }
      .news-card-text {
        font-size: 13px;
        color: $light-gray;
      }
      .explore {
        font-size: 16px;
        font-weight: 700;
        color: $primary-color;
        position: relative;
        &::after {
          content: "";
          width: 100%;
          height: 3px;
          background: $primary-color;
          position: absolute;
          bottom: -35%;
          left: 0%;
          transition: 0.3s;
        }
      }
    }

    &:hover {
      .explore {
        color: $light-gray;
        &::after {
          background: $light-gray;
        }
      }
    }
  }

  .all-news-btn-wrapper {
    text-align: center;
    margin-top: 40px;
    a {
      border: 2px solid $primary-color;
      color: $primary-color;
      padding: 8px 30px;
      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
  }
}

.latest-social {
  background-color: $white;
  padding: 50px 0;

  .section-title {
    padding-left: 40px;
  }

  .view-more-btn-wrapper {
    text-align: center;
    margin-top: 40px;
    a {
      border: 2px solid $primary-color;
      color: $white;
      padding: 8px 30px;
      background-color: $primary-color;
      &:hover {
        background-color: $white;
        color: $primary-color;
      }
    }
  }
}

.subscription {
  background-color: $light-gray2;
  padding: 100px 0;
  margin-bottom: 0;

  .subscription-title {
    h2 {
      font-size: 30px;
      font-weight: 700;
    }
    p {
      font-size: 13px;
      span {
        font-weight: 600;
      }
    }
  }

  form {
    .preference {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;

      span {
        margin-right: 20px;
        font-size: 13px;
        font-weight: 700;
        color: $primary-color;
      }

      label {
        font-size: 13px;
        color: $primary-color;
      }

      .form-check-input {
        width: 1.5em;
        height: 1.5em;
        margin-top: 0;
        margin-right: 10px;
        border: 2px solid $radio-btn;
      }
    }

    .subscription-input-wrapper {
      display: flex;
      justify-content: center;
      .subscription-input {
        position: relative;
        label {
          font-size: 13px;
          font-weight: 700;
          color: $primary-color;
        }
        input {
          width: 400px;
          height: 40px;
          border: 2px solid $primary-color;
          padding-left: 10px;
          &::placeholder {
            font-size: 14px;
            color: $light-gray;
          }
        }
        button {
          background-color: $primary-color;
          color: $white;
          border: 3px solid $primary-color;
          height: 40px;
          width: 150px;
          &:hover {
            background-color: $white;
            color: $primary-color;
          }
        }
      }
    }
  }
}

.app-download {
  text-align: center;
  background-color: $white;
  padding: 50px 0;
  margin-top: 0;
  margin-bottom: 0;

  .app-title {
    h5 {
      font-size: 13px;
      font-weight: 700;
      line-height: 24px;
      color: $primary-color;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    p {
      font-size: 13px;
      line-height: 24px;
    }
  }

  .find-out-btn-wrapper {
    a {
      color: $primary-color;
      border: 2px solid $primary-color;
      padding: 10px 20px;
      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
  }

  .app-store-icon-wrapper {
    margin-top: 50px;
    .app-store-icon {
      display: inline-block;
      width: 120px;
      margin: 0 5px;
    }
  }
}

footer {
  padding: 50px 0;
  background-color: $light-gray2;

  .footer-content {
    max-width: 984px;
    margin: 0 auto;

    .footer-title {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 28px;
      white-space: normal;
      color: $primary-color;
    }

    ul {
      li {
        a {
          padding: 5px 0;
          color: $light-gray;
          font-size: 13px;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    .find-store-btn {
      // text-align: center;
      a {
        border: 2px solid $light-gray3;
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        text-align: center;
        color: $primary-color;
        font-weight: 700;
        // display: block;
        margin-top: 15px;
        i {
          margin-right: 5px;
        }

        &:hover {
          border: 2px solid $primary-color;
        }
      }
    }

    .social-icon-wrapper {
      margin-top: 50px;
      ul {
        li {
          margin-left: 6px;
          margin-right: 6px;
          a {
            font-size: 30px;
          }
        }
      }
    }

    .payment-icon-wrapper {
      position: relative;
      margin: 50px 0;
      padding: 15px 0;
      &::after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: $light-gray3;
        position: absolute;
        top: 0;
      }
      &::before {
        content: "";
        height: 1px;
        width: 100%;
        background-color: $light-gray3;
        position: absolute;
        bottom: 0;
      }
      ul {
        li {
          margin: 0 20px;
          a {
            font-size: 25px;
          }
        }
      }
    }

    .copyright {
      font-size: 11px;
      color: $light-gray;
    }
  }
}

.virgo-footer {
  background-color: $light-gray2;

  .footer-widgets {
    .logo {
      width: 100px;
      img {
      }
    }

    .footer-widgets-title {
      letter-spacing: 2px;
      font-size: 12px;
      padding: 12px 0 1rem;
      margin-bottom: 0;
      color: $black;
    }

    p {
      font-size: 12px;
      line-height: normal;
      color: #666;
      text-align: justify;
    }

    ul.nav {
      li.nav-item {
        font-size: 12px;
        line-height: 12px;
        padding: 4px;

        a.nav-link {
          padding: 0;
          color: #666;
        }
      }
    }
  }

  .ssl {
    margin-top: 50px;
    img {
    }
  }
}

// ====================== HOME ===================

// ====================== MEN'S CATEGORY PAGE ===================
.all-products {
  margin-top: 0;
  background-color: $white;

  nav {
    background-color: $light-gray2;
    border-bottom: 2px solid $radio-btn;
    padding: 0 20px;

    .nav-left {
      .nav-item {
        .dropdown {
          button {
            background-color: transparent;
            border: none;
            color: $primary-color;
            font-size: 13px;
            font-weight: 700;
            padding: 15px 15px;
          }

          .dropdown-toggle {
            border-radius: 0;
          }

          .dropdown-toggle.show {
            background-color: $white;
            border-radius: 0;
          }

          .dropdown-menu {
            border-radius: 0px;
            border: none;
            transform: translate(0px, 42px) !important;
            width: max-content;

            .dropdown-item {
              &:hover {
                background-color: transparent;
              }

              .form-check {
                .form-check-input {
                  border-radius: 0;
                  width: 20px;
                  height: 20px;
                  // margin-right: 30px;
                  border-color: $black;

                  &:checked {
                    background-color: $black;
                    border-color: $black;
                  }

                  &:checked[type="checkbox"] {
                    background-image: none;
                  }

                  &:focus {
                    box-shadow: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    .nav-right {
      font-size: 13px;

      .menu-title {
        font-size: 13px;
        color: $light-gray;
      }

      li.nav-item {
        a.nav-link {
          font-weight: 700;
          color: $primary-color;
          // padding-left: 5px;
          // padding-right: 5px;
        }

        .form-select {
          background-color: transparent;
          border-radius: 0;
          border: none;
          font-size: 13px;
          &:focus {
            box-shadow: none;
          }
        }
      }

      li.view-as {
        border-bottom: 2px solid transparent;
        // margin: 0 5px;

        &:hover {
          border-bottom: 2px solid $primary-color;
        }

        &:active {
          border-bottom: 2px solid $primary-color;
        }
      }
    }
  }

  .short-filter-modal-wrapper {
    .short-filter-btn {
      width: 100%;
      background-color: $short-btn;
      border-color: $short-btn;
      color: $white;
      font-weight: 700;
      padding: 5px 0;

      &:hover {
        background-color: $white;
        color: $short-btn;
      }
    }

    .modal-dialog {
      .modal-content {
        border-radius: 0;
        .modal-header {
          .modal-title {
            font-weight: 700;
            color: $short-btn;
          }
        }
        .modal-body {
          height: 50vh;
          .dropdown {
            button {
              border: 1px solid $primary-color;
              border-radius: 0;
              background-color: $short-btn;
              color: $white;
              width: 100%;
            }

            .dropdown-menu {
              border-radius: 0px;
              border: none;
              transform: translate(0px, 42px) !important;
              width: max-content;
              border: 1px solid $short-btn;
            }
          }
        }
        .modal-footer {
          .close,
          .apply {
            background-color: $short-btn;
            color: $white;
            border-radius: 0;
            border: 1px solid $short-btn;
            font-weight: 600;
            &:hover {
              background-color: $white;
              color: $short-btn;
            }
          }
        }
      }
    }
  }

  .view-as-wrapper {
    background-color: $white;
    box-shadow: 0px 6px 8px -10px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 0px 6px 8px -10px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 6px 8px -10px rgba(0, 0, 0, 0.62);
    padding: 0 20px;

    ul.view-as {
      li {
        font-size: 14px;
        color: $light-gray;
        a {
          color: $primary-color;
          font-size: 16px;
          font-weight: 700;
          border-bottom: 2px solid transparent;
          &:hover {
            border-bottom: 2px solid $primary-color;
          }
          &:focus {
            border-bottom: 2px solid $primary-color;
          }
        }
      }
    }

    ul.short-by {
      li {
        font-size: 14px;
        color: $light-gray;

        select {
          margin-left: 10px;
          border-radius: 0;
          &:focus {
            box-shadow: none;
            border: 1px solid $primary-color;
          }
          option {
          }
        }
      }
    }
  }

  .total-item {
    padding: 40px 20px;
    h4 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
    }
  }

  .all-product-card-wrapper {
    padding: 0px 20px;
    .product-card {
      border: none !important;
      position: relative;

      img {
      }

      .add-to-wish-icon {
        position: absolute;
        top: 3%;
        right: 4%;

        &:hover {
          cursor: pointer;
        }

        i {
          font-size: 25px;
        }
      }

      .card-body {
        padding: 0px;
        background-color: $white;

        .product-info {
          padding-top: 10px;
          background-color: $white;
          position: absolute;
          width: 100%;
          bottom: 0%;
          transition: 0.5s;

          .new {
            background-color: rgba(255, 255, 255, 0.7);
            position: absolute;
            top: -25%;
            width: 100%;
          }

          button.quick-view-btn {
            font-size: 20px;
            position: absolute;
            right: 3%;
            top: -50%;
            transition: 0.5s;
            color: $primary-color;
            opacity: 0;
            border: none;
            background-color: transparent;
          }

          .product-title {
            font-size: 13px;
            color: $primary-color;
          }

          .product-price {
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 0;
          }
          .seleted-color-name {
            font-size: 13px;
            color: $light-gray;
          }
        }

        .color-variations {
          padding: 10px 0;
          ul {
            li {
              // border-bottom: 2px solid transparent;
              margin: 0 5px;
              padding-bottom: 0px;
              button {
                border: none;
                background-color: transparent;
                border-bottom: 2px solid transparent;
                margin: 0;
                &:focus {
                  border-bottom: 2px solid $primary-color;
                }
                img {
                }
              }
            }
          }
        }
      }

      &:hover {
        .product-info {
          bottom: 8%;

          button.quick-view-btn {
            opacity: 1;
          }
        }
      }
    }
  }

  .product-seen-number {
    padding: 50px 0;
    p {
      font-size: 13px;
      color: $light-gray;
    }

    button {
      background-color: $white;
      border: 1px solid $light-gray;
      padding: 10px 80px;
      font-size: 13px;
      font-weight: 700;
      color: $light-gray;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

// --------- QUICK VIEW MODAL ----------

// .modal-open {
//   .modal-backdrop {
//     display: none !important;
//   }
// }

.quick-view-modal {
  .modal-content {
    border-radius: 0;

    .modal-body {
      position: relative;

      .quick-view-details {
        padding: 60px 30px 20px 0px;
        .quick-view-title {
          font-size: 24px;
          font-family: $title-font3;
        }

        button.btn-close {
          position: absolute;
          right: 0;
          top: 0;
          background-color: $short-btn !important;
          border-radius: 0;
          opacity: 1;
          color: $white;
          background: none;
          font-size: 24px;
        }

        .price {
          font-family: $title-font3;
          font-size: 13px;
          font-weight: 700;
        }

        .color {
          font-family: $body-font;
          font-size: 13px;
          font-weight: 700;

          span {
            color: $light-gray;
          }
        }

        select.form-select {
          border-radius: 0;
          border: 2px solid $primary-color;
          font-family: $title-font3 !important;
          font-size: 13px !important;
          font-weight: 600 !important;
          padding: 11px 40px 11px 10px;

          &:focus {
            box-shadow: none;
          }
        }

        .add-to-bag-wrapper {
          margin-top: 20px;
          margin-bottom: 60px;

          button.add-to-bag {
            background-color: $short-btn;
            width: 80%;
            border-color: $short-btn;
            color: $white;
            padding: 10px 0;
            font-family: $title-font3;
            font-size: 13px;
            font-weight: 700;
            &:hover {
              background-color: $white;
              color: $short-btn;
            }
          }

          button.add-to-wish {
            background-color: transparent;
            border: none;
            i {
              font-size: 24px;
              text-align: center;
            }
          }
        }

        .product-details-text {
          color: $light-gray;
          font-family: $body-font;
          font-size: 13px;
          line-height: normal;
          overflow: hidden;
        }

        a.view-full-details-link {
          color: $primary-color;
          font-size: 13px;
          font-weight: 700;
          &:hover {
            color: $light-gray;
          }
        }
      }
    }
  }
}
// --------- QUICK VIEW MODAL ----------

// ====================== MEN'S CATEGORY PAGE ===================

// ====================== PRODUCT PAGE ===================
.product-carousel {
  margin: 0;
  position: relative;

  .carousel-indicators {
    left: 0 !important;
    bottom: 0 !important;
    margin-left: 2%;
    display: inherit;

    button.indicator-btn {
      width: 80px;
      height: 80px;
      border: none;
      opacity: 1;
      display: block;
      margin-bottom: 20px;
    }
  }

  .carousel-inner {
    // height: 1000px;
  }

  .carousel-product-info {
    position: absolute;
    right: 10%;
    top: 6%;
    max-width: 350px;
    z-index: 100;

    .product-title {
      font-family: $title-font;
      font-size: 30px;
      font-weight: 700;
      color: $primary-color;
    }

    .price {
      font-family: $title-font3;
      font-size: 13px;
      color: $primary-color;
    }

    .color {
      p {
        font-family: $title-font3;
        font-size: 13px;
        color: $primary-color;
      }
      span {
        font-family: $title-font3;
        font-size: 13px;
        color: $light-gray;

        a {
          color: $primary-color;
          font-weight: 300;
          font-family: $body-font;
          text-decoration: underline;
          margin-left: 10px;
        }
      }
    }

    .color-variation {
      ul {
        li {
          width: 70px;
          height: 70px;
          margin: 0 5px;
          border-radius: 50%;
          border: 2px solid $light-gray;
          position: relative;
          overflow: hidden;

          .check {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            opacity: 0;
            color: $white;
            transition: 0.5s;
            font-size: 20px;
          }

          img {
            border-radius: 50%;
            transition: 0.3s;
          }

          &:hover {
            border: 2px solid $primary-color;
            cursor: pointer;
            .check {
              opacity: 1;
            }
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    .size-guide {
      p {
        font-family: $body-font;
        font-size: 13px;
        color: $primary-color;
        margin-bottom: 0;
      }
      button.see-guide-btn {
        font-family: $title-font3;
        font-size: 13px;
        color: $primary-color;
        background-color: transparent;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .size-list-wrapper {
      p {
        font-family: $title-font3;
        font-size: 13px;
        color: $primary-color;
        margin: 0;
      }

      .size-list {
        ul {
          display: flex;
          li {
            margin: 0 5px;
            button {
              background-color: transparent;
              border: none;
              width: 40px;
              height: 40px;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;

              color: $short-btn;
              font-weight: 600;
              text-align: center;
              border: 2px solid $short-btn;
              transition: 0.5s;
              &:hover {
                cursor: pointer;
                background-color: $short-btn;
                color: $white;
              }

              &:focus {
                background-color: $short-btn !important;
                color: $white !important;
              }
            }
          }
        }
      }

      .find-right-size {
        button {
          font-family: $body-font;
          font-size: 13px;
          background-color: transparent;
          border: none;
          color: $primary-color;
          text-decoration: underline;

          i {
          }
        }
      }
    }

    .availability {
      p {
        color: $green;
        font-size: 13px;
        font-family: $title-font3;
        margin: 0;
        i {
          font-size: 11px;
          margin-right: 5px;
        }
      }
    }

    .add-to-bag-wrapper {
      margin-bottom: 30px;
      .add-to-bag {
        background-color: $short-btn;
        width: 70%;
        color: $white;
        padding: 5px 0;
        border: 2px solid $short-btn;
        font-size: 13px;
        font-weight: 700;

        i {
          margin-right: 5px;
        }

        &:hover {
          background-color: transparent;
          color: $short-btn;
          border-color: $short-btn;
        }
      }

      .add-to-wish {
        background-color: transparent;
        border: none;
        font-size: 26px;
        margin-left: 10px;
        color: $primary-color;
      }
    }

    .product-info-footer {
      button.find-local-store {
        background-color: transparent;
        border: none;
        font-size: 13px;
        font-weight: 700;
        color: $short-btn;

        i {
          color: $primary-color;
          margin-right: 5px;
        }
      }

      .usps {
        font-size: 13px;
        font-weight: 700;
        color: $primary-color;

        i {
          color: $primary-color;
          margin-right: 8px;
        }
      }

      .usps-charge {
        font-size: 13px;
        font-weight: 700;
        color: $green;
        text-transform: uppercase;
      }
    }
  }

  .product-title-text {
    max-width: 300px;
    position: absolute;
    top: 8%;
    right: 0%;

    .product-title {
      font-family: $title-font;
      font-size: 40px;
      color: $primary-color;
    }

    button {
      position: absolute;
      left: 0%;
      bottom: -30%;
      background-color: transparent;
      border: none;
      font-size: 16px;
      text-decoration: underline;
      z-index: 100;
      color: $primary-color;
      i {
        margin-right: 6px;
      }
    }
  }

  .select-size-offcanvas {
    background-color: $light-gray3;
    .carousel-product-info {
      right: 2%;

      .close-btn {
        position: absolute;
        right: 3%;
      }
    }
  }
}

.feature-material {
  margin: 0;

  .feature-material-text-wrapper {
    width: 50%;
    margin: auto;
  }

  .feature-material-image {
    img {
      width: 100%;
    }
  }
}
// ====================== PRODUCT PAGE ===================
